@model ABServicios.BLL.Entities.TeamMember

@{
    Layout = null;
}

<div class="form-group">
    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Domicilio)
        @Html.ValidationMessageFor(model => model.Domicilio)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Documento)
        @Html.ValidationMessageFor(model => model.Documento)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10 datepicker">
        @Html.EditorFor(model => model.FechaNacimiento)
        @Html.ValidationMessageFor(model => model.FechaNacimiento)
    </div>
</div>